@import '../../src/css/var';
@import '../../src/css/service';
@import '../audio-player-control/audio-player-control';

$main-background-color: #f5f5f5;
$active-item-background-color: #e8e8e8;
$list-item-button-size: 48px;

.audio_player_play_list__wrapper {
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
    display: block;
    width: 100%;
}

.audio_player_play_list__list {
    background-color: $main-background-color;
    display: block;
    padding: 0;
    margin: 0;
}

/*
overflow: auto;
scrollbar-color: #c8c8c8 #fafafa;
scrollbar-width: thin;

&::-webkit-scrollbar {
    width: 6px;
}

&::-webkit-scrollbar-track {
    background-color: #fafafa;
}

&::-webkit-scrollbar-thumb {
    background-color: #c8c8c8;
    border-radius: 0;
}
*/

.audio_player_play_list___list_item {
    display: block;
    font-family: $wrapper-font-family;
    min-height: $list-item-button-size;

    &:hover,
    &.audio_player_play_list___list_item__active {
        background-color: $active-item-background-color;
    }
}

%audio-player-play-list--list-item--play-pause-button--image {
    background-color: #cbcbcb;
    border: 3px solid #cbcbcb;
    border-radius: 100%;
    display: block;
    height: 18px;
    margin-left: 12px;
    width: 18px;
}

.audio_player_play_list___list_item__play_pause_button__image {
    @extend %audio-player-play-list--list-item--play-pause-button--image;
}

.audio_player_play_list___list_item__play_pause_button__image__active {
    @extend %audio-player-play-list--list-item--play-pause-button--image;

    background-color: #d2dff5;
    border: 3px solid #d2dff5;
}

.audio_player_play_list___list_item__play_pause_button {
    float: left;
    height: $list-item-button-size;
    outline: none;
    width: $list-item-button-size;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.audio_player_play_list__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: $list-item-button-size;
    min-height: $list-item-button-size;
    padding-right: 8px;
}

.audio_player_play_list__title {
    @extend %ellipsis;

    font-size: 14px;
    padding-bottom: 2px;
}
