/*
!* stylelint-disable property-no-vendor-prefix, selector-combinator-disallowed-list, no-descending-specificity, max-nesting-depth *!

$button-size: 38px;
$button-image-size: 28px;
$border-radius: 4px;
$main-background-color: #fff;
$main-text-color: #333;
$button-image-active-background-color: #e5e5e5;
$slider-size: 38px;
$slider-thumb-size: 12px;
$slider-thumb-color: #408af0;
$slider-thumb-color-active-outline: rgba(64, 138, 240, 0.2); // $slider-thumb-color + a = 0.2
$slider-line-color: #dadada;
$wrapper-control-height: 96px;
$wrapper-font-family: verdana, geneva, sans-serif;

.audio_player_control__wrapper {
    background-color: $main-background-color;
    box-sizing: border-box;
    display: block;
    height: $wrapper-control-height;
    padding: 14px 11px 8px;
    width: 100%;
}

.audio_player_control__wrapper__single {
    background-color: $main-background-color;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    padding: 6px;
    width: 100%;
}

.audio_player_control__wrapper,
.audio_player_control__wrapper__single {
    .audio_player_control__button__list {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 2px;
    }

    .audio_player_control__button__image {
        border-radius: $border-radius;
        box-sizing: border-box;
        display: block;
        height: $button-image-size;
        padding: 4px;
        width: $button-image-size;
    }

    .audio_player_control__button {
        border: 0;
        background-color: transparent;
        margin: 0;
        border-radius: $border-radius;
        box-sizing: border-box;
        display: block;
        flex-shrink: 0;
        height: $button-size;
        outline: none;
        padding: ($button-size - $button-image-size) / 2;
        width: $button-size;
        cursor: pointer;

        &:active,
        &.audio_player_control__button__active {
            .audio_player_control__button__image {
                background-color: $button-image-active-background-color;
            }
        }

        &.audio_player_control__button__disabled {
            opacity: 0.75;
            pointer-events: none;
        }
    }

    .audio_player_control__button_link_wrapper {
        display: block;
        height: $button-size;
        outline: 0;
        width: $button-size;
        cursor: pointer;
    }

    .audio_player_control__bottom_bar_list_wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .audio_player_control__progress_bar_part_wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    .audio_player_control__volume_bar_part_wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        padding-left: 6px;
        width: 114px;
    }

    .audio_player_control__progress_bar__time {
        color: $main-text-color;
        display: block;
        font-family: $wrapper-font-family;
        font-size: 12px;
        line-height: 1;
        margin: 0;
        min-width: 73px;
        padding-left: 6px;
        pointer-events: none;
    }

    .audio_player_control__progress_bar__wrapper {
        display: block;
        flex-grow: 1;
        outline: none;
        position: relative;
    }

    .audio_player_control__input_range {
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        height: $slider-size;
        outline: none;
        position: relative;
        width: 100%;
        z-index: 1;
        vertical-align: middle;
        margin: 0;
        padding: 0;

        &:disabled {
            opacity: 1;
            pointer-events: none;

            &::-webkit-slider-thumb {
                background-color: $slider-line-color;
            }

            &::-moz-range-thumb {
                background-color: $slider-line-color;
            }
        }

        &.audio_player_control__input_range__no_matter_value {
            &::-webkit-slider-thumb {
                background-color: $slider-line-color;
            }

            &::-moz-range-thumb {
                background-color: $slider-line-color;
            }
        }
    }

    .audio_player_control__input_range__active_progress_bar {
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .audio_player_control__input_range__active_progress_bar:active + .audio_player_control__input_range,
    .audio_player_control__input_range:active {
        &::-webkit-slider-thumb {
            box-shadow: inset 0 0 0 $slider-thumb-size / 2 $slider-thumb-color-active-outline;
        }

        &::-moz-range-thumb {
            box-shadow: inset 0 0 0 $slider-thumb-size / 2 $slider-thumb-color-active-outline;
        }
    }

    .audio_player_control__input_range__line {
        background-color: $slider-line-color;
        border-radius: 1px;
        height: 2px;
        left: 6px;
        margin-top: -1px;
        position: absolute;
        top: 50%;
        width: calc(100% - 12px);
        z-index: 0;
    }

    .audio_player_control__input_range__passed {
        background-color: $slider-thumb-color;
        border-radius: 1px;
        height: 100%;
        transform-origin: left center;
        width: 100%;
    }

    .audio_player_control__input_range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background-clip: content-box;
        background-color: $slider-thumb-color;
        border: 0;
        border-radius: 100%;
        box-sizing: content-box;
        cursor: pointer;
        display: block;
        height: $slider-thumb-size;
        padding: $slider-thumb-size / 2;
        width: $slider-thumb-size;
    }

    .audio_player_control__input_range::-moz-range-track {
        opacity: 0;
    }

    .audio_player_control__input_range::-moz-range-thumb {
        background-clip: content-box;
        background-color: $slider-thumb-color;
        border: 0;
        border-radius: 100%;
        box-sizing: content-box;
        cursor: pointer;
        display: block;
        height: $slider-thumb-size;
        padding: $slider-thumb-size / 2;
        width: $slider-thumb-size;
    }
}
*/
