{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-flow"
    ],
    "plugins": [
        "@babel/plugin-transform-strict-mode"
    ]
/*
    "env": {
        "development": {
            "plugins": [
                [
                    "babel-plugin-flow-runtime",
                    {
                        "warn": false,
                        "optInOnly": false,
                        "assert": true,
                        "annotate": true
                    }
                ]
            ]
        }
    }
*/
}
