{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
        "@babel/preset-flow"
    ],
    "plugins": [
        // for preact's pragma
        //        ["@babel/plugin-transform-react-jsx", { "pragma":"h" }],
        //        ["babel-plugin-jsx-pragmatic", {
        //            "module": "preact",
        //            "import": "h",
        //            "export": "h"
        //        }],
        "@babel/plugin-transform-strict-mode",
        "@babel/plugin-transform-runtime"
    ],
    "env": {
        "development": {
            "plugins": [
                [
                    "babel-plugin-flow-runtime",
                    {
                        "warn": false,
                        "optInOnly": false,
                        "assert": true,
                        "annotate": true
                    }
                ]
            ]
        }
    }
}
