/* stylelint-disable selector-pseudo-class-no-unknown */

$main-font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
$main-font-family-monospace: 'Lucida Console', 'Monaco', monospace;
$main-font-color: #212121;

html,
body {
    background-color: #f5f5f5;
    color: $main-font-color;
    font-family: $main-font-family;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

:global {
    .main-wrapper {
        padding: 16px;
    }

    .github-badge {
        background-color: #c00;
        border-bottom: 1px solid #c00;
        border-top: 1px solid #c00;
        box-shadow: #888 0 0 17px 0;
        overflow: hidden;
        position: fixed;
        right: -55px;
        top: 42px;
        transform: rotate(45deg);
        z-index: 100;
    }

    .github-badge-link {
        border: 1px solid #faa;
        color: #fff;
        display: block;
        font-family: $main-font-family-monospace;
        font-size: 13px;
        font-weight: normal;
        line-height: 13px;
        padding: 6px 44px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 0 6px #444;

        &:hover {
            text-decoration: underline;
        }
    }

    .top-content {
        display: block;
        flex-shrink: 0;

        .main-header {
            margin-right: 110px;
        }
    }

    .example-wrapper {
        padding-bottom: 80px;
    }
}
