.audio_player_track_list_item {
    display: block;
    font-family: verdana,geneva,sans-serif;
    min-height: 48px;
    padding: 0;
    margin: 0;

    &:hover,
    &.audio_player_track_list_item__active {
        background-color: #e8e8e8;
    }
}

.button {
    float: left;
    height: 48px;
    outline: none;
    width: 48px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

%button--image,
.button_image {
    background-color: #cbcbcb;
    border: 3px solid #cbcbcb;
    border-radius: 100%;
    display: block;
    height: 18px;
    margin-left: 12px;
    width: 18px;
}

.button_image__active {
    @extend %button--image;

    background-color: #d2dff5;
    border: 3px solid #d2dff5;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 48px;
    min-height: 48px;
    box-sizing: border-box;
    padding: 6px 8px 6px 0;
    font-size: 14px;
    line-height: 1.4;
}

.track_title {
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}
