/* stylelint-disable selector-pseudo-class-no-unknown */

@import './var';

.hidden {
    display: none !important;
}

%width-limit,
.width_limit {
    background-color: $main-background-text-color;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    max-width: $max-width;
    padding-left: $ui-unit * 4;
    padding-right: $ui-unit * 4;
}

:global .mobile {
    :local {
        %width-limit,
        .width_limit {
            padding-left: $ui-unit * 2;
            padding-right: $ui-unit * 2;
        }
    }
}

%link,
.link {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: $link-color;
    padding-top: 1px;
    text-decoration: none;

    &:hover {
        border-bottom-color: transparent;
    }
}

.bold {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    line-height: inherit;
}

%clear-self,
.clear_self {
    &:after {
        clear: both;
        content: '';
        display: block;
    }
}

/*
.clear_full {
    clear: both;

    &:after {
        clear: both;
        content: '';
        display: block;
    }
}
*/

%ellipsis,
.ellipsis {
    display: block;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*
.ta_c {
    text-align: center;
}

.ta_l {
    text-align: left;
}

.ta_r {
    text-align: right;
}

.fl_l {
    float: left;
}

.fl_r {
    float: right;
}

.fl_n {
    float: none;
}

.w50_c {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.w75_c {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.grow_1 {
    display: block;
    flex-grow: 1;
    overflow: auto;
}

.two_blocks_wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .two_blocks_container {
        flex-grow: 1;
        position: relative;
        z-index: 0;
    }
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .line_item {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (orientation: landscape) {
    .two_blocks_wrapper {
        flex-direction: row;

        .two_blocks_container {
            width: 50%;
        }
    }
}
*/
