$main-font-family: 'Helvetica', 'MS Trebuchet', sans-serif;
$main-monospace-font-family: 'Lucida Console', 'Monaco', monospace;
$main-font-size: 16px;
$main-line-height: 1.4;
$main-text-color: #212121;
$main-background-text-color: #f0ece3;

$z-index-header: 5;
$z-index-page-wrapper: 1;

$z-index-popup-wrapper: 200;
$z-index-popup: 201;

$ui-unit: 8px;
$form-main-background-color: #0c72ed;

$max-width: 1200px;

/*
$link-color: #07c;
$link-color-active: #00b7ff;
$link-color-visited: #001580;
*/
$link-color: $main-text-color;
$link-color-active: $main-text-color;
$link-color-visited: $main-text-color;

$color-yellow: #ffd51a;
$color-orange: #ffb61a;
$color-border: #444;
$light-gray: #f0f0f0;
$gray: #777;
