$main-text-color: #212121;
$main-font-family: 'Helvetica', 'MS Trebuchet', sans-serif;
$main-background-text-color: #f0ece3;
$max-width: 1200px;
$ui-unit: 8px;

$link-color: $main-text-color;
//$link-color-active: $main-text-color;
//$link-color-visited: $main-text-color;
