.audio_player_track_list {
    border-bottom: 4px solid #fff;
    border-top: 4px solid #fff;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}
