/* stylelint-disable no-descending-specificity, selector-no-qualifying-type, selector-max-compound-selectors, selector-pseudo-class-no-unknown */

//$main-font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
$main-monospace-font-family: 'Lucida Console', 'Monaco', monospace;
$main-font-size: 16px;
$main-line-height: 1.4;

:global .md-pro {
    display: block;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    hr,
    blockquote,
    code,
    table,
    th,
    td,
    img {
        color: inherit;
        font-size: $main-font-size;
        line-height: $main-line-height;
        margin: 0;
        padding: 0;
        word-break: break-word;

        &:first-child {
            margin-top: 0;
        }
    }

    a {
        color: #0366d6;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    b {
        font-weight: bold;
    }

    u {
        text-decoration: underline;
    }

    i {
        font-style: italic;
    }

    strike {
        text-decoration-line: line-through;
    }

    sub,
    sup {
        font-size: 75%;
        //line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sub {
        bottom: -0.25em;
    }

    sup {
        top: -0.5em;
    }

    hr {
        background-color: #eee;
        border: 0;
        height: 1px;
        margin: 20px 0;
    }

    h1,
    h2,
    h3 {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    h4,
    h5,
    h6 {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }

    h6 {
        font-size: 12px;
    }

    img {
        margin-bottom: 8px;
        max-width: 100%;
    }

    p {
        margin-bottom: 10px;

        img {
            margin-bottom: 0;
            vertical-align: middle;
        }
    }

    ul,
    ol {
        font-size: $main-font-size;
        line-height: $main-line-height;
        margin: 0 0 10px;
        padding-left: 40px;
    }

    ul ul,
    ol ul,
    ul ol,
    ol ol {
        margin-bottom: 0;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px;
        max-width: 100%;
        width: 100%;
    }

    tbody {
        tr:nth-child(odd) {
            background-color: #f9f9f9;
        }
    }

    th,
    td {
        font-weight: normal;
        padding: 8px;
    }

    th {
        vertical-align: bottom;
    }

    td {
        border-top: 1px solid #ddd;
    }

    blockquote {
        border-left: 5px solid #eee;
        font-size: 18px;
        margin: 0 0 20px;
        padding: 10px 20px;
    }

    code {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #333;
        display: block;
        font-family: $main-monospace-font-family;
        margin: 0 0 10px;
        overflow: auto;
        padding: 9px;
        white-space: pre;
        word-break: break-all;

        &[data-type='inline'] {
            background-color: #f9f2f4;
            border-radius: 4px;
            color: #c7254e;
            display: inline;
            font-size: 90%;
            padding: 2px 4px;
        }
    }
}
